body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    padding: 0 30px;
    background-color: rgb(255, 209, 145);
}

#menu{
margin-left: auto;
}
#menu ul{
    display: flex;
}
#menu li{
    list-style: none;
    margin: 0 15px;
    font-size: 20px;
}

.section_title{
    font-size: 30px;
    margin-top: 0;
    padding-top: 10px;
}

#cloth_selection{
    
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: rgb(251, 180, 82);
}

#cloth_selection p{
    margin-bottom: 20px;
}


#cloth_selection button{
    width: 200px;
    font-size: 35px;
    border: solid rgb(0, 0, 0) 7px;
    background-color: rgb(67, 255, 102);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.carousel{
    overflow: hidden;
    width: 600px;
}

.carousel input{
    margin-top: 30px;
}

.carousel .carousel_imgs{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;
}

.carousel .carousel_imgs img {
    flex: 0 0 auto;
    width: 100%;
    object-fit: contain;
}

.carousel input:nth-child(1):checked ~ .carousel_imgs{
    transform: translateX(0%);
}

.carousel input:nth-child(2):checked ~ .carousel_imgs{
    transform: translateX(-100%);
}
.carousel input:nth-child(3):checked ~ .carousel_imgs{
    transform: translateX(-200%);
}

.carousel input:nth-child(4):checked ~ .carousel_imgs{
    transform: translateX(-300%);
}

#about_us{
    background-color: rgb(255, 209, 145);
    display: grid;
    place-items: center;

}

#formContato{
    background-color: rgba(161, 161, 161, 0.5);
    padding: 20px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 10px;
    width: 13%;
}
#formContato input{
    width: 100%;
    margin-bottom: 7px;
}
#formContato p{
    font-size: 20px;
    text-align: center;
}
#formContato button{
    font-size: 15px;
    padding: 3px 10px;
    border: solid black 2px;
    border-radius: 4px;
}